@font-face {
    font-family: 'aicp';
    src: url('fonts/aicp.ttf?vz2aah') format('truetype'),
    url('fonts/aicp.woff?vz2aah') format('woff'),
    url('fonts/aicp.svg?vz2aah#aicp') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'aicp', monospace !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.aicp-arrow_drop_down:before {
    content: "\e5c5";
}

.aicp-code:before {
    content: "\e903";
}

.aicp-google-plus:before {
    content: "\e904";
}

.aicp-download:before {
    content: "\e905";
}

.aicp-github-alt:before {
    content: "\e900";
}

.aicp-apple:before {
    content: "\e901";
}

.aicp-linux:before {
    content: "\e902";
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.modal.bottom-sheet {
    max-height: 75%;
}

.modal table tr {
    cursor: pointer;
}

.brand-logo img {
    max-height: 56px;
    margin: 4px 4px 4px 0;
}

.allcaps {
    text-transform: uppercase !important;
}

.menu-title {
    font-size: 1rem;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    text-align: center !important;;
}

code {
    word-wrap: normal;
    word-break: break-all;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
}

/* Graph */

.graph {
    height: 50px;
}