body {
    padding-top: 64px;
}

.material-jumbotron {
    background-image: url("../imgs/material_back.png");
    background-size: cover;
    color: #fff;
}

.material-jumbotron h1 {
    color: #fff;
}

#devicechoose a.btn {
    font-size: 14px;
    padding: 10px 12px;
}

.navbar-brand {
    padding: 0 15px;
}

.navbar-brand > img {
    display: inline-block;
    max-height: 60px;
}

.navbar .fa {
    font-size: 1.5em;
    margin-right: 10px;
}

.navbar .fa.fa-google-plus {
    vertical-align: middle;
}

.navbar .menu-title {
    padding: 3px 20px;
    font-weight: bold;
    cursor: default;
}

.anchor-fix:before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 80px;
    margin-top: -80px;
}

.modal-btn {
    cursor: pointer;
}

.modal table tr {
    cursor: pointer;
}

code {
    word-wrap: normal;
    word-break: break-all;
}

/* Graph */

.graph {
    background-color: #2196f3;
    height: 50px;
}

.graph div {
    background-color: #fff;
    color: #2196f3;
}

/* Responsive Button Group */

@media (max-width: 1201px) {
    .btn-group-responsive .btn {
        padding: 10px 5px;
        font-size: 15px;
    }
}

@media (max-width: 991px) {
    .btn-group-responsive .btn {
        padding: 10px 5px;
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .btn-group-responsive .pull-left,
    .btn-group-responsive .pull-right {
        float: none;
    }

    .btn-group-responsive .btn {
        display: block;
        width: calc(50% - 10px);
        padding-right: 0;
        padding-left: 0;
        margin: 0 5px 10px;
        font-size: 17px;
        float: left;
    }

    .btn-group-responsive .btn:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    .btn-group-responsive .btn {
        width: 100%;
        margin: 0 0 10px;
        float: none;
    }
}