@font-face {
    font-family: 'aicp';
    src: url('fonts/aicp.ttf?pipf44') format('truetype'),
    url('fonts/aicp.woff?pipf44') format('woff'),
    url('fonts/aicp.svg?pipf44#aicp') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'socicon';
    src: url('fonts/socicon.eot');
    src: url('fonts/socicon.eot?#iefix') format('embedded-opentype'),
    url('fonts/socicon.woff') format('woff'),
    url('fonts/socicon.woff2') format('woff2'),
    url('fonts/socicon.ttf') format('truetype'),
    url('fonts/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 95%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 95%;
    }
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'aicp', monospace !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.aicp-arrow_drop_down:before {
    content: "\e5c5";
}

.aicp-close:before {
    content: "\e5cd";
}

.aicp-menu:before {
    content: "\e5d2";
}

.aicp-search:before {
    content: "\e8b6";
}

.aicp-share:before {
    content: "\e80d";
}

.aicp-code:before {
    content: "\e903";
}

.aicp-google-plus:before {
    content: "\e904";
}

.aicp-download:before {
    content: "\e905";
}

.aicp-github-alt:before {
    content: "\e900";
}

.aicp-apple:before {
    content: "\e901";
}

.aicp-linux:before {
    content: "\e902";
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.modal.bottom-sheet {
    max-height: 75%;
}

.modal table tr {
    cursor: pointer;
}

.brand-logo img {
    max-height: 56px;
    margin: 4px 4px 4px 0;
}

@media all and (max-width: 960px) {
    .brand-logo img {
        max-height: 40px;
        margin: 12px 0 0;
    }
}

.allcaps {
    text-transform: uppercase !important;
}

.menu-title {
    font-size: 1rem;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    text-align: center !important;;
}

code {
    word-wrap: normal;
    word-break: break-all;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
}

#search:focus ~ label {
    opacity: 0;
}

.modal-btn {
    cursor: pointer;
}

/* Graph */

.graph {
    height: 50px;
}

#devicechoose.tabs .tab a {
    padding: 0 16px;
}

/* Socicons */

.socicon {
    font-family: 'socicon', sans-serif !important;
    font-style: normal;
    font-size: 18px !important;
}

.fixed-action-btn ul li {
    position: relative;
}

.share-btn ul {
    display: none;
}

.share-btn:hover ul {
    display: block;
}

.color-twitter {
    background-color: #2CAAE1;
}

.color-facebook {
    background-color: #3B579D;
}

.color-googleplus {
    background-color: #DD4B39;
}

.color-pinterest {
    background-color: #BD081C;
}

.color-pocket {
    background-color: #ED4054;
}

.color-tumblr {
    background-color: #34465D;
}

.color-linkedin {
    background-color: #0F7AB4;
}